server {
  listen   80;
  server_name  <%= node['hostname'] %>;

  access_log  <%= node['nginx']['log_dir'] %>/localhost.access.log;

  location / {
      proxy_pass http://54.226.109.157;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-HTTPS 0;
  }
}
